@model CubiculosTEC.Models.Registro


<!DOCTYPE html>
<html lang="en">
<head>
	<style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<<<<<<< HEAD
<<<<<<< HEAD
	@using (Html.BeginForm("Index","Registro", FormMethod.Post)){
=======
	
>>>>>>> 6941bb7c9b3a7e5cab796f9d17b0909d18c5b946
=======
	
>>>>>>> 6941bb7c9b3a7e5cab796f9d17b0909d18c5b946
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">

					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>
					<title>Registro</title>

<<<<<<< HEAD
<<<<<<< HEAD
					<h2>
						Por favor proporciona los siguientes datos para poder realizar el registro.
					</h2>
					<div class="cont-formulario">

						<div>
							
							<div class="wrap-input100 validate-input" data-validate="Numero de cédula">
								<h3 style="font-size: 20px;">Número de cédula</h3><br>
								<h3>@Html.TextBoxFor(m => m.cedula, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.cedula,"", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div><br>

							<div class="wrap-input100 validate-input" data-validate="Numero de carne">
								<h3 style="font-size: 20px;">Número de carné</h3><br>
								<h3>@Html.TextBoxFor(m => m.carne, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.carne,"", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div><br>

							<div class="wrap-input100 validate-input " data-validate="Nombre">
								<h3 style="font-size: 20px;">Nombre</h3><br>
								<h3>@Html.TextBoxFor(m => m.nombre, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.nombre,"", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							</div><br>

							<div class="wrap-input100 validate-input">
								<h3 style="font-size: 20px;">Primer apellido </h3><br>
								<h3>@Html.TextBoxFor(m => m.apellido1, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.apellido1,"", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							</div><br>

							<div class="wrap-input100 validate-input">
								<h3 style="font-size: 20px;">Segundo apellido </h3><br>
								<h3>@Html.TextBoxFor(m => m.apellido2, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.apellido2,"", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							</div><br>
						</div>
						<div style="display: flex;flex-direction: column">

							<div class="wrap-input100 validate-input" data-validate="edad">
								<h3 style="font-size: 20px;">Edad</h3><br>
								<h3>@Html.TextBoxFor(m => m.edad, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.edad,"", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div><br>

							<div class="wrap-input100 validate-input" data-validate="Fecha de nacimiento">
								<h3 style="font-size: 20px;">Fecha de nacimiento</h3><br>
								<h3>@Html.TextBoxFor(m => m.fechaNacimiento, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.fechaNacimiento,null, new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div><br>
=======
					<span class="login100-form-title p-b-34 p-t-27">
						Registro en CubiculosTEC, por favor proporciona los siguientes datos para poder realizar el registro.
					</span>

					<div class="wrap-input100 validate-input" data-validate="Numero de cédula">
						<label>Número de cédula</label><br>
						<input class="input100" type="number" maxlength="9" size="12" pattern="/\d{9}/" name="cedula">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="Numero de carne">
						<label>Número de carné</label><br>
						<input class="input100" type="number" size="12" maxlength="10" pattern="/\d{9}/" name="carne">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate = "Nombre">
						<label>Nombre</label><br>
						<input class="input100" type="text" size="40" name="nombre">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div><br>

					<div class="wrap-input100 validate-input">
						<label>Primer apellido </label><br>
						<input class="input100" type="text" size="40" name="primerApellido">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div><br>

					<div class="wrap-input100 validate-input"">
						<label>Segundo apellido </label><br>
						<input class="input100" type="text" size="40" name="segundoApellido">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="edad">
						<label>Edad</label><br>
						<input class="input100" type="number" size="5" min="17" max="99" pattern="/\d{9}/" name="edad">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>
>>>>>>> 6941bb7c9b3a7e5cab796f9d17b0909d18c5b946

					<div class="wrap-input100 validate-input" data-validate="Fecha de nacimiento">
						<label>Fecha de nacimiento</label><br>
						<input class="input100" type="date" name="fechaNacimiento" placeholder="Fecha nacimiento">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

<<<<<<< HEAD
							<div class="wrap-input100 validate-input" data-validate="Enter email">
								<h3 style="font-size: 20px;">Correo electrónico</h3><br>
								<h3>@Html.TextBoxFor(m => m.correo, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.correo,"", new {@class="error"})</h3>
								<h3>@Html.ValidationMessage("Custom Error", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div><br>

							<div class="wrap-input100 validate-input" data-validate="Enter password">
								<h3 style="font-size: 20px;">Contraseña</h3><br>
								<h3>@Html.PasswordFor(m => m.contrasena , new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.contrasena,"", new {@class="error"})
								<br>Debe contener:
								<br>-Mínimo 8 caracteres.
								<br>-Al menos una letra mayúscula./n
								<br>-Al menos una letra minúscula.
								<br>-Al menos un símbolo especial.</h3><br><br>
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div><br>
							<button style="align-self: center;" class="btn-accept" type="submit">Registrarme</button>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	}
	
=======
					<div class="wrap-input100 validate-input" data-validate="Enter email">
						<label>Correo electrónico</label><br>
						<input class="input100" type="email" name="correo" size="40" placeholder="&#64;estudiantec.cr / &#64;itcr.ac.cr">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<label>Contraseña</label><br>
						<input class="input100" type="password" size="40" name="pass">
						<label></label><br>Debe contener: 
						<br>-Mínimo 8 caracteres.
						<br>-Al menos una letra mayúscula./n
						<br>-Al menos una letra minúscula.
						-<br>-Al menos un símbolo especial.</label><br><br>
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<INPUT type = SUBMIT value="Registrarme"> 

=======
					<span class="login100-form-title p-b-34 p-t-27">
						Registro en CubiculosTEC, por favor proporciona los siguientes datos para poder realizar el registro.
					</span>

					<div class="wrap-input100 validate-input" data-validate="Numero de cédula">
						<label>Número de cédula</label><br>
						<input class="input100" type="number" maxlength="9" size="12" pattern="/\d{9}/" name="cedula">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="Numero de carne">
						<label>Número de carné</label><br>
						<input class="input100" type="number" size="12" maxlength="10" pattern="/\d{9}/" name="carne">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate = "Nombre">
						<label>Nombre</label><br>
						<input class="input100" type="text" size="40" name="nombre">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div><br>

					<div class="wrap-input100 validate-input">
						<label>Primer apellido </label><br>
						<input class="input100" type="text" size="40" name="primerApellido">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div><br>

					<div class="wrap-input100 validate-input"">
						<label>Segundo apellido </label><br>
						<input class="input100" type="text" size="40" name="segundoApellido">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="edad">
						<label>Edad</label><br>
						<input class="input100" type="number" size="5" min="17" max="99" pattern="/\d{9}/" name="edad">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="Fecha de nacimiento">
						<label>Fecha de nacimiento</label><br>
						<input class="input100" type="date" name="fechaNacimiento" placeholder="Fecha nacimiento">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="Enter email">
						<label>Correo electrónico</label><br>
						<input class="input100" type="email" name="correo" size="40" placeholder="&#64;estudiantec.cr / &#64;itcr.ac.cr">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<label>Contraseña</label><br>
						<input class="input100" type="password" size="40" name="pass">
						<label></label><br>Debe contener: 
						<br>-Mínimo 8 caracteres.
						<br>-Al menos una letra mayúscula./n
						<br>-Al menos una letra minúscula.
						-<br>-Al menos un símbolo especial.</label><br><br>
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<INPUT type = SUBMIT value="Registrarme"> 

>>>>>>> 6941bb7c9b3a7e5cab796f9d17b0909d18c5b946
					<!--
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Registrarme
						</button> 
					</div>-->

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

>>>>>>> 6941bb7c9b3a7e5cab796f9d17b0909d18c5b946
</body>
</html>